# Runtime dependencies only
numpy>=1.25,<2
matplotlib>=3.8
Pillow>=10
rasterio>=1.4
onnxruntime>=1.17; sys_platform != "emscripten" and platform_machine != "wasm32"
scikit-image>=0.22
opencv-python>=4.9
numba>=0.59
psutil>=5.9.0
itur>=0.3
whitebox>=2.3
